<div class="align-items-center">
  <div class="card-center">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Question</div>
      <div class="card-body text-primary">
        <%= @search %>
        <p> -You </p>
      </div>
    </div>
  </div>
  <div class="card-center">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Answer</div>
      <div class="card-body text-secondary">
        <%= @answer %>
        <p> -The Coach </p>
      </div>
    </div>

    <%= link_to "Ask a different question", ask_path %>
  </div>
</div>
